<!DOCTYPE html>
<!--[if lte IE 7]><html class="no-js lte-ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{{#if page_title}}{{ page_title }}{{else}}{{ app_title }}{{/if}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>
    {{!-- jQuery and Bootstrap --}}
    {{javascript_include "jquery" }}
    {{javascript_include "bootstrap" }}
    {{javascript_include "main" }}
    {{#> favicon}}
      {{#if environment_style}}
        {{!-- >favicon_link ("images/govuk_admin_template/favicon-" + environment_style + ".png") --}}
      {{else}}
        {{!-- >favicon_link "images/govuk_admin_template/favicon.png" --}}
      {{/if}}
    {{/favicon}}
    {{#> head}}{{/head}}
    {{stylesheet_link "main" }}
    {{!-- CSS resets and fixes for Bootstrap 3 in IE7 --}}
    <!--[if lte IE 7]>
      {{stylesheet_link "govuk_admin_template/bootstrap-ie7" }}
    <![endif]-->
    {{!--
      // HTML5 and bootstrap shims, for <= IE8 support of HTML5 elements
      // respond.js must come after CSS (from head) and media queries so
      // that rules and styles can be correctly calculated.
    --}}
    <!--[if lte IE 8]>
      {{javascript_include "lte-ie8" }}
    <![endif]-->
  </head>
  <body{{#if environment_style}} class="environment-{{ environment_style }}"{{/if}}>
    {{#> body_start}}{{/body_start}}
    {{#> navbar}}
      <header class="
        navbar
        navbar-default
        navbar-inverse
        navbar-static-top
        {{#if environment_style}}environment-indicator{{/if}}
        add-bottom-margin" role="banner">
        <div class="container{{#if full_width}}-fluid{{/if}}">
          <div class="navbar-header">
            {{#if has_navbar_content}}
              {{!-- Bootstrap toggle for collapsed navbar content, used at smaller widths --}}
              <a class="navbar-toggle" data-toggle="collapse" data-target="header .navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            {{/if}}
            {{link_to app_title app_home_path 'navbar-brand'}}
            {{#if environment_label}}
              <div class="environment-label">{{ environment_label }}</div>
            {{/if}}
          </div>
          {{#if has_navbar_content}}
            <nav role="navigation" class="collapse navbar-collapse">
              {{#if navbar_items}}
                <ul class="nav navbar-nav">
                  {{#each navbar_items as |navbar_item| }}
                  <li><a href="{{ navbar_item.url }}">{{ navbar_item.label }}</a></li>
                  {{/each}}
                </ul>
              {{/if}}

              {{#if GovukAdminTemplate.config.show_signout}}
                <div class="navbar-text pull-right">
                  {{link_to current_user.name '/auth/user_profile'}}
                  &bull; {{link_to 'Sign out' '/auth/sign_out'}}
                </div>
              {{/if}}

              {{#if navbar_right}}
                <div class="navbar-text pull-right">
                  {{ navbar_right }}
                </div>
              {{/if}}
            </nav>
          {{/if}}
        </div>
      </header>
    {{/navbar}}
    <section class="container{{#if full_width}}-fluid{{/if}}">
      <main role="main">
        {{#if GovAdminTemplate.config.show_flash}}
          {{> display_flash_message }}
        {{/if}}

        {{{body}}}
      </main>
      <footer class="page-footer">
        {{#> footer_top}}{{/footer_top}}
        <a class="inherit" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
        {{#if footer_version}}
          <span class="pull-right">Version: {{ footer_version }}</span>
        {{/if}}
      </footer>
    </section>
    {{#> body_end}}{{/body_end}}
    {{#unless disable_google_analytics}}
      {{#if env.production}}
        <script class="analytics">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ env.GOVUK_GA_ACCOUNT }}', '{{ env.GOVUK_APP_DOMAIN }}');
          ga('set', 'anonymizeIp', true);
          {{#if custom_pageview_fullpath}}
            GOVUKAdmin.trackPageview('{{ custom_pageview_fullpath }}');
          {{else}}
            ga('send', 'pageview');
          {{/if}}
        </script>
      {{else if env.development }}
        <script>
          if (console) {window.ga = function() {console.log.apply(console, arguments);};}
        </script>
      {{/if}}
    {{/unless}}
  </body>
</html>
