<article id="{{ casefile_id }}" class="casefile" style="border-bottom:1px solid #ddd;margin-bottom:11px;padding-bottom:12px;">
  <h4><a href="/casefile/{{ casefile_id }}">{{offender.given_name}} {{offender.surname}}, {{offender.age}}, {{expand_gender offender.gender}}</a>
    {{#if offender.aliases}}
    <small>{{#each offender.aliases as |alias|}}{{offender.aliases}}{{/each}}</small>
    {{/if}}
  </h4>
  <div class="row">
    <div class="col-md-2">
      <a href="/casefile/{{ casefile_id }}" class="thumbnail">
        <img src="{{ offender.image }}" alt="Head shot of {{ offender.given_name }} {{ offender.surname }}">
        <p class="text-center"><strong>{{casefile_id}}</strong></p>
      </a>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>Sentenced by {{sentence.courtName}}, {{sentence_date sentence.date}}</li>
      </ul>
      {{#if caseNoteOverdue}}
      <div class="alert alert-warning"><strong class="label label-warning">Session overdue:</strong> The last time a session was recorded against this case was {{casenote_date lastRecordedCaseNote}}</div>
      {{/if}}
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>CRO: <span>{{ offender.cro_number }}</span></li>
              <li>NIB: <span>{{ offender.nomis_offender_id }}</span></li>
              <li>PNC: <span>{{ offender.pnc_number }}</span></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>CSRA Rating: Standard</li>
              <li>Security Category: C</li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-inline">
        <li><a class="btn btn-default" href="/casefile/{{ casefile_id }}">View case file</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-inline">
        {{#each registers as |register|}}
        <li><abbr class="label label-default" title="{{register.label}}">{{register.abbr}}</abbr></li>
        {{/each}}
      </ul>
      <ul class="list-unstyled">
        <li>Key Worker: {{#if keyworker}}
          <a href="/keyworker/{{keyworker.staff_id}}">{{keyworker.given_name}} {{keyworker.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
        <li>POM: {{#if prisonOffenderManager}}
          <a href="/prisonoffendermanager/{{prisonOffenderManager.staff_id}}">{{prisonOffenderManager.given_name}} {{prisonOffenderManager.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
        <li>COM: {{#if communityOffenderManager}}
          <a href="/communityoffendermanager/{{communityOffenderManager.staff_id}}">{{communityOffenderManager.given_name}} {{communityOffenderManager.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
      </ul>
      {{!--
      <ul class="list-inline">
        <li><a class="btn btn-primary" href="/casefile/{{ casefile_id }}/assign">Assign staff</a></li>
      </ul>
      --}}
    </div>
  </div>
</article>
