
<article id="{{ casefile.casefile_id }}">
  <h1>{{page_title}}</h1>
  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <img src="/images/placeholder.png" alt="Head shot of {{ casefile.offender.given_name }} {{ casefile.offender.surname }}">
        <p class="text-center"><strong>{{casefile.casefile_id}}</strong></p>
      </div>
    </div>
    <div class="col-md-2 pull-right">
      <ul class="list-inline">
        {{#each casefile.registers as |register|}}
        <li><abbr class="label label-default" title="{{register.label}}">{{register.abbr}}</abbr></li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div id="assign_staff" class="row">
    <div class="form-horizontal">
      <form action="/casefile/{{casefile.casefile_id}}/assign" method="post" class="form-group">
        <label class="col-sm-2 control-label">Key Worker</label>
        <div class="col-sm-3">
          <select id="keyworker" name="keyworker" class="form-control">
            <option value="">No current assignment</option>
            {{#each keyworkers as |keyworker|}}
            <option value="{{keyworker.staff_id}}" {{option_selected keyworker.staff_id ../casefile.keyworker.staff_id}}>{{ keyworker.given_name }} {{ keyworker.surname }}, {{keyworker.age}}, {{expand_gender keyworker.gender}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Update Assignment</button>
        </div>
      </form>
      <form action="/casefile/{{casefile.casefile_id}}/assign" method="post" class="form-group">
        <label class="col-sm-2 control-label">Prison Offender Manager</label>
        <div class="col-sm-3">
          <select id="prisonoffendermanager" name="prisonoffendermanager" class="form-control">
            <option value="">No current assignment</option>
            {{#each prisonoffendermanagers as |prisonoffendermanager|}}
            <option value="{{prisonoffendermanager.staff_id}}" {{option_selected prisonoffendermanager.staff_id ../casefile.prisonoffendermanager.staff_id}}>{{ prisonoffendermanager.given_name }} {{ prisonoffendermanager.surname }}, {{prisonoffendermanager.age}}, {{expand_gender prisonoffendermanager.gender}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Update Assignment</button>
        </div>
      </form>
      <div class="form-group">
        <div class="col-sm-10 text-right">
          <a href="/casefile/{{casefile.casefile_id}}" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</article>
