
<article id="{{ casefile.casefile_id }}">
  <h1>{{page_title}}</h1>

  <ul class="list-unstyled">
    {{#each history as |record|}}
    {{#unless record.type}}
    <li class="row">
      <span class="col-sm-2">[{{record.type}}]</span>
      <span class="col-sm-8"><a class="btn btn-default" href="/keyworker/{{ record.staff_id }}">View details</a></span>
      <span class="col-sm-2">{{assignment_date record.timestamp}}</span>
    </li>
    {{/unless}}
    {{/each}}
  </ul>
</article>
