{{#with casefile}}
<article id="{{ casefile_id }}" style="border-bottom:1px solid #ccc;margin-bottom:12px">
  <h1><a href="/casefile/{{ casefile_id }}">{{offender.given_name}} {{offender.surname}}, {{offender.age}}, {{expand_gender offender.gender}}</a>
    {{#if offender.aliases}}
    <small>{{#each offender.aliases as |alias|}}{{offender.aliases}}{{/each}}</small>
    {{/if}}</h1>
  <p class="lead">Sentenced by {{sentence.courtName}}, {{sentence_date sentence.date}}<br/>
    Last entry: {{casenote_date lastRecordedCaseNote}}</p>

  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <img src="/images/placeholder.png" alt="Head shot of {{ offender.given_name }} {{ offender.surname }}">
        <p class="text-center"><strong>{{casefile_id}}</strong></p>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>CSRA: Standard</li>
        <li>Category: CAT C</li>
        <li>CRO: <span>{{ offender.cro_number }}</span></li>
        <li>NIB: <span>{{ offender.nomis_offender_id }}</span></li>
        <li>PNC: <span>{{ offender.pnc_number }}</span></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-inline">
        {{#each registers as |register|}}
        <li><abbr class="label label-default" title="{{register.label}}">{{register.abbr}}</abbr></li>
        {{/each}}
      </ul>
      <ul class="list-unstyled">
        <li>Key Worker: {{#if keyworker}}
          <a href="/keyworker/{{keyworker.staff_id}}">{{keyworker.given_name}} {{keyworker.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
        <li>POM: {{#if prisonOffenderManager}}
          <a href="/prisonoffendermanager/{{prisonOffenderManager.staff_id}}">{{prisonOffenderManager.given_name}} {{prisonOffenderManager.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
        <li>COM: {{#if communityOffenderManager}}
          <a href="/communityoffendermanager/{{communityOffenderManager.staff_id}}">{{communityOffenderManager.given_name}} {{communityOffenderManager.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="/casefile/{{ casefile_id }}/assign/history#assignment_history">View previous staff assignments</a></li>
        <li><a id="assignStaff" href="/casefile/{{ casefile_id }}/assign#assign_staff" data-toggle="modal-remote" data-target="#modelStaffAssignment">Assign new staff member</a></li>
      </ul>
    </div>
  </div>
</article>

<h2>Session Notes</h2>

<form method="post" action="/casefile/{{ casefile_id }}/record" class="form-horizontal" style="border-bottom:1px solid #ccc;margin-bottom:12px">
  <h4>Record a new Session Note</h4>
  <div class="form-group">
    <label class="col-sm-2 control-label">Date</label>
    <div class="col-sm-3">
      <input id="datetime" name="datetime" type="datetime" value="{{date_input_value now}}" class="form-control">
    </div>
    <label class="col-sm-2 control-label">Session Length</label>
    <div class="col-sm-3">
      <select id="length" name="length" class="form-control">
        <option>5 mins</option>
        <option>10 mins</option>
        <option>15 mins</option>
        <option>30 mins</option>
        <option>45 mins</option>
        <option>1 hr</option>
        <option>1.5 hrs</option>
        <option>half day</option>
        <option>full day</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Details</label>
    <div class="col-sm-8">
      <textarea id="note" name="note" rows="3" class="form-control"></textarea>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Record note</button>
    </div>
  </div>
</form>
{{/with}}

<div class="row">
  <div class="col-sm-2">
  <h4>Previous Session Notes</h4>
  </div>
  <div class="col-sm-8">
    <ul class="list-unstyled">
      {{#each caseNotes as |caseNote|}}
      <li style="border-bottom:1px solid #ccc;margin-bottom:12px">
        <h4><time datetime="{{caseNote.timestamp}}" style="font-weight:bold;">{{casenote_date caseNote.timestamp}}</time><br><small>by {{caseNote.staff_id}}</small></h4>

        <p>{{caseNote.body}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div id="modelStaffAssignment" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignStaff" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
