<header>
  <h1>{{ page_title }}</h1>
  <p class="lead">You are currently responsible for <strong>{{total_caseFiles}}</strong> case files,
    {{#if unassignedCaseFiles.length}}
      <strong>{{unassignedCaseFiles.length}}</strong> need assigning.
    {{/if}}
  </p>
<header>

{{#if unassignedCaseFiles}}
<div class="row">
  <div class="col-md-3">
    <h3>Unassigned case files</h3>
  </div>
  <div class="col-md-9">
    <div class="results results-unassignedcasefiles">
      {{#each unassignedCaseFiles as |unassignedCaseFile| }}
      {{> caseFileListEntry unassignedCaseFile}}
      {{/each}}
    </div>
  </div>
</div>
{{else}}
<div class="alert alert-info"><strong>No offenders found:</strong> there were no new offenders located for you to assign</div>
{{/if}}
{{!--
{{#if caseFiles}}
<div class="row">
  <div class="col-md-3">
    <h3>Assigned case files</h3>
  </div>
  <div class="col-md-9">
    <div class="results results-casefiles">
      {{#each caseFiles as |caseFile| }}
      {{> caseFileListEntry caseFile}}
      {{/each}}
    </div>
  </div>
</div>
{{else}}
<div class="alert alert-info"><strong>No offenders found:</strong> there were no new offenders located for you to assign</div>
{{/if}}
--}}
