<header>
  <h1>{{ page_title }}</h1>
  <p class="lead">You are currently responsible for <strong>{{total_casefiles}}</strong> case files,
    {{#if unassignedCasefiles.length}}
      <strong>{{unassignedCasefiles.length}}</strong> need assigning.
    {{/if}}
  </p>
<header>

{{#if unassignedCasefiles}}
<div class="row">
  <div class="col-md-3">
    <h3>Unassigned case files</h3>
  </div>
  <div class="col-md-9">
    <div class="results results-unassignedcasefiles">
      {{#each unassignedCasefiles as |unassignedCasefile| }}
      {{> casefileListEntry unassignedCasefile}}
      {{/each}}
    </div>
  </div>
</div>
{{else}}
<div class="alert alert-info"><strong>No offenders found:</strong> there were no new offenders located for you to assign</div>
{{/if}}
{{!--
{{#if casefiles}}
<div class="row">
  <div class="col-md-3">
    <h3>Assigned case files</h3>
  </div>
  <div class="col-md-9">
    <div class="results results-casefiles">
      {{#each casefiles as |casefile| }}
      {{> casefileListEntry casefile}}
      {{/each}}
    </div>
  </div>
</div>
{{else}}
<div class="alert alert-info"><strong>No offenders found:</strong> there were no new offenders located for you to assign</div>
{{/if}}
--}}
