<article id="{{ caseFile.casefile_id }}">
  <h1>{{page_title}}</h1>
  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <img src="{{ caseFile.offender.image }}" alt="Head shot of {{ caseFile.offender.given_name }} {{ caseFile.offender.surname }}">
        <p class="text-center"><strong>{{caseFile.casefile_id}}</strong></p>
      </div>
    </div>
    <div class="col-md-2 pull-right">
      <ul class="list-inline">
        {{#each caseFile.registers as |register|}}
        <li><abbr class="label label-default" title="{{register.label}}">{{register.abbr}}</abbr></li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-8">
      <ul class="list-unstyled">
        <li>Key Worker: {{#if caseFile.keyworker}}
          <a href="/keyworker/{{caseFile.keyworker.staff_id}}">{{caseFile.keyworker.given_name}} {{caseFile.keyworker.surname}}</a>
          {{else}}
          <span>unassigned</span>
          {{/if}}
        </li>
        <li>Prison Offender Manager: unassigned</li>
      </ul>
      <ul class="list-unstyled">
        <li><a class="btn btn-default" href="/caseFile/{{ caseFile.casefile_id }}/assign">Assign Staff</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <form method="post" action="/caseFile/{{ caseFile.casefile_id }}/record" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">New session note</label>
        <div class="col-sm-8">
          <textarea id="note" name="note" rows="3" class="form-control"></textarea>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Record note</button>
        </div>
      </div>
    </form>
  </div>

  <div>
    <h2>Previous Notes</h2>

    {{#each caseNotes as |caseNote|}}
    <div class="row" style="border-bottom:1px solid #ccc;margin-bottom:12px">
      <div class="col-sm-2 text-right">
        <time datetime="{{caseNote.timestamp}}" style="font-weight:bold;">{{caseNote.timestamp}}<br><small>20:00</small></time><br>
        <span>by {{caseNote.staff_id}}</span>
      </div>
      <div class="col-sm-8">
        <p>{{caseNote.body}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</article>
