<article id="{{ keyWorker.staff_id }}">
  <header>
    <h1>{{ keyWorker.given_name }} {{ keyWorker.surname }}, {{keyWorker.age}}, {{expand_gender keyWorker.gender}}
      <small><a class="btn btn-link" href="/keyworker/{{ keyWorker.staff_id }}">View details</a></small></h1>
    <p class="lead">Currently responsible for <span title="{{keyWorker.casefiles.length}} case files assigned">{{keyWorker.casefiles.length}}</span> case files.
        {{keyWorker.given_name}} has been given a caseload capacity of {{keyWorker.caseload_capacity}}.</p>
    {{#if keyWorker.caseload_capacity_over}}
    <div class="alert alert-warning"><strong class="label label-warning">OVER CAPACITY</strong> {{keyWorker.given_name}} is currently over capacity please review their caseload at the earliest possible convienience.</div>
    {{/if}}
  <header>
</article>

<div class="row">
  <div class="col-md-3">
    <h3>Assigned case files</h3>
    {{!--
    <ul class="list-inline">
      <li><a class="btn btn-default" href="/keyworker/{{ keyWorker.staff_id }}/assign">Assign Case</a></li>
    </ul>
    --}}
  </div>
  <div class="col-md-9">
    {{#if keyWorker.casefiles}}
      <div class="results results-offender">
        {{#each keyWorker.casefiles as |casefile| }}
        {{> casefileListEntry casefile}}
        {{/each}}
      </div>
    {{else}}
    <div class="alert alert-info"><strong>No case files assigned:</strong> This member of staff currently has no case files assigned to them</div>
    {{/if}}
  </div>
</div>
