<article id="{{ keyWorker.staff_id }}">
  <header>
    <h1>{{ keyWorker.given_name }} {{ keyWorker.surname }}, {{keyWorker.age}}, {{expand_gender keyWorker.gender}}
      <small><a class="btn btn-link" href="/keyworker/{{ keyWorker.staff_id }}/edit">Edit details</a></small></h1>
    <p class="lead">{{ page_title }}</p>
  <header>
</article>

<form method="post" action="./">
  <div class="row">
    <div class="col-md-3">
      <h3>Personal details</h3>
    </div>
    <div class="col-md-9">
      <input type="hidden" name="staff_id" value="{{keyWorker.staff_id}}">

      <div class="form-group">
        <label for="given_name">Given name</label>
        <p class="form-control-static">{{keyWorker.given_name}}</p>
      </div>

      <div class="form-group">
        <label for="middle_names">Middle names</label>
        <p class="form-control-static">{{keyWorker.middle_names}}</p>
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <p class="form-control-static">{{keyWorker.surname}}</p>
      </div>

      <div class="form-group">
        <label for="date_of_birth">D.O.B.</label>
        <p class="form-control-static">{{profile_dob keyWorker.date_of_birth}}, {{keyWorker.age}}</p>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <p class="form-control-static">{{expand_gender keyWorker.gender}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>Employment</h3>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <label for="employment_status">Employment status</label>
        <p class="form-control-static">{{keyWorker.employment_status}}</p>
      </div>

      <div class="form-group">
        <label for="working_hours">Working hours</label>
        <p class="form-control-static">{{keyWorker.working_hours}}</p>
      </div>

      <div class="form-group">
        <label for="caseload_capacity">Caseload capacity</label>
        <p class="form-control-static">{{keyWorker.caseload_capacity}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>Contact Details</h3>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <label for="contact_email">Contact email address</label>
        <p class="form-control-static">{{keyWorker.contact_email}}</p>
      </div>

      <div class="form-group">
        <label for="contact_number">Contact telephone number</label>
        <p class="form-control-static">{{keyWorker.contact_number}}</p>
      </div>
    </div>
  </div>
</form>
